#root {
  padding: 1%;
}

.banner-container {
  display: flex;
  justify-content: center;
}

.banner-wrapper {
  position: relative;
  display: inline-block;
  padding: 40px;
  width: 50%;
  max-width: 75vw;
}

.banner-inner {
  background-color: #e8503a;
  padding-top: clamp(6px, 10px, 24px);
  padding-bottom: clamp(6px, 15px, 24px);
  text-align: center;
}

.banner-inner h1 {
  color: white;
  font-size: clamp(2rem, 7.5vw, 10rem);
  letter-spacing: 8px;
}

/* Corner brackets */
.bracket {
  position: absolute;
  width: clamp(20px, 3vw, 7vw);
  height: clamp(20px, 3vw, 7vw);
}

.bracket-tl {
  top: 0;
  left: 0;
  border-top: 8px solid #e8503a;
  border-left: 8px solid #e8503a;
}
.bracket-tr {
  top: 0;
  right: 0;
  border-top: 8px solid #e8503a;
  border-right: 8px solid #e8503a;
}
.bracket-bl {
  bottom: 0;
  left: 0;
  border-bottom: 8px solid #e8503a;
  border-left: 8px solid #e8503a;
}
.bracket-br {
  bottom: 0;
  right: 0;
  border-bottom: 8px solid #e8503a;
  border-right: 8px solid #e8503a;
}

@media (max-width: 768px) {
  .banner-wrapper {
    width: 90%;        /* full width on mobile */
    padding: 8px;
  }
}