.comic-card {
    display: flex;
    flex-direction: column;
    width: 16vw;
    cursor: pointer;
    gap: 2px;
}

.comic-card_img {
    width: 100%;
    aspect-ratio: 2/3;    
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #8B8B8B42;
}

.comic-card_name {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    margin-top: 6px;
}

.discover-row{
    display: flex;
    gap: 17px;
}
.featured-row{
    justify-content: center;
}

.discover-header_container{
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.discover-header{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 1.2vw;
    padding-top: 1.2vw;
    font-family: 'roboto-mono', monospace;
    font-weight: 300;
    font-size: 2rem;
    width: 86%;
    margin: 0 auto;
}

/* carousel */
.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.carousel-btn {
    background-color: #E8503A;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 3rem;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 13px;
    margin-bottom: 3vw;
    visibility: visible;
}
.carousel-btn.hidden {
    visibility: hidden;  /* hides but keeps space */
    pointer-events: none;  /* prevents clicking hidden button */
}

.carousel-track{
    overflow: hidden;  /* hides comics outside the visible area */
    width: calc(5 * 16vw + 4 * 17px);  /* 5 cards + 4 gaps */
}

/* tablet view */
@media (max-width: 768px) {
    /* featured - show all in 2 column grid */
    .featured-row {
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
    }
    .featured-wrapper{
        display: flex;
        justify-content: center;
    }

    /* carousel - show 2 cards at a time */
    .discover-row {
        width: calc(2 * 25vw + 1 * 17px);
    }

    .comic-card {
        width: 25vw;
        min-width: 120px;
    }

    .carousel-btn{
        margin-bottom: 13vw;
    }
}

/* phone view */
@media (max-width: 480px) {
    /* featured - show all in 2 column grid */
    .featured-row {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
    }

    /* carousel - show 2 cards at a time */
    .discover-row {
        gap: 20px;
        width: calc(2 * 30vw + 1 * 20px);
    }

    .comic-card {
        width: 30vw;
        /* min-width: 120px; */
    }

    .discover-header_container{
        margin-bottom: 6vw;
    }

    .carousel-btn{
        margin-bottom: 15vw;
    }

    .comic-card_name{
        overflow-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 4;      /* number of lines before ... */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}