.app-nav {
    position: relative;
    top: 19vw;
    height: 10vh;
    width: 200px;
    align-items: flex-start !important;
    margin-left: 1vw;
}

.app-nav_inner{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.app-nav_inner::before {
  content: '';
  position: absolute;
  top: -10px; /* gap from top border */
  left: 0;
  right: 0;
  border-top: 3px solid black;
}

.app-nav_inner::after {
  content: '';
  position: absolute;
  top: 275px; /* gap from bottom border */
  left: 0;
  right: 0;
  border-bottom: 3px solid black;
}

.app-nav_links{
    margin-top: 10px;
    margin-bottom: 25px;
}

.app-nav_link{
    margin-bottom: 10px;
}

.app-nav_label{
    font-size: 1.5rem;
    font-family: 'roboto-mono', monospace;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 0px;
    color: black;
}

.search-container{
    padding: 8px;
}

/* Mobile - letting bootstrap take over as a top navbar */
@media (max-width: 992px) {
    .app-nav {
        height: auto;
        top: 0;
        margin-left: 5px;
    }

    .app-nav_inner{
        border-top: 0px solid black;
        border-bottom: 0px solid black;
    }

    .app-nav_inner::before {
        border-top: 0px;
    }

    .app-nav_inner::after {
        border-bottom: 0px;
    }

    .search-container{
        padding: 0px;
    }

    .app-nav_links{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .app-nav_link{
        margin-bottom: 0px;
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 3px;
    }
}

.app-nav_search {
    overflow: visible;
    position: relative;
}

.app-nav_search-trigger {
    cursor: pointer;
    text-decoration: underline;
}

.app-nav_search-dropdown {
    position: absolute;
    top: auto;
    left: 0;
    z-index: 1000;
}

.app-nav_search-input {
    width: 25vw;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #97979738;
    font-family: 'Roboto Mono', monospace;
    outline: none;
    /* mobile */
    @media (max-width: 992px) {
        width: 50vw;
    }
}

.app-nav_search-results {
    position: absolute;  /* makes the dropdown float over the rest of the nav */
    top: 100%;
    left: 0;
    width: 40vw;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid #ccc;
    /* mobile */
    @media (max-width: 992px) {
        width: 60vw;
    }
}

.app-nav_search-result {
    padding: 14px 16px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
}

.app-nav_register-label{
    color: #E8503A;
}